.main{
    font-family:georgia;
    color: #000;
    overflow: hidden;
    background-color: aqua;
}
.nav{
    background-color: aqua;
    height: 3.3rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    position:sticky;
    top:0;
    z-index: 10;
}
a{
    text-decoration: none;
    color:#000;
}
.nav-option{
    color:#000;
    margin-right: 0.5rem;
    margin-left: 1rem;
}
.nav_list{
    display:flex;
    align-items: center;
    
}

.badge{
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 100px;
        padding: 0.25rem 1rem;
        font-weight: 700;
        margin-top:0.5rem;
        height:2rem;
        width:fit-content;
}
.maincont{
    background-color: aqua;
}
.maincontent{
    text-align: center;
    line-height: 35px;
}
.maincontent h3{
    opacity:0.5;
}
.maincontent h1{
    font-size: 50px;

}
.button{
    display:flex;
    justify-content: center;
    align-items: center;
}
.badge1{
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top:0.5rem;
    height:2.5rem;
    width:fit-content;
    margin-right:0.75rem;
}
.badge2{
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top:0.5rem;
    height:2.5rem;
    width:fit-content;
}
.card-header{
    text-align: center;
    font-size: 30px;
}
.row_text-center_justify-content-evenly{
    background-color:aqua;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card_col-sm-5_col-md-3_mb-3_me-3{
    background-color: white;
    line-height: 30px;
    height:500px;
    width:300px;
    font-size: 20px;
    border-radius: 5px;
    margin:5px;

}
.card_col-sm-5_col-md-3_mb-3_me-3 li i{
    border-radius: 50%;
    border:1px solid #121212;
    margin-right: 10px;
    width:fit-content;
    padding:2px;
}